In [ ]:
import pandas as pd

df = {
    "Order ID": list(range(101, 131)),
    "Customer Name": [
        "Alice", "Bob", "Charlie", "Alice", "Daniel", "Emily", "Frank", "George", "Alice", "Helen",
        "Ian", "Jane", "Kevin", "Lisa", "Mike", "Nancy", "Oliver", "Peter", "Queenie", "Ryan",
        "Steve", "Tina", "Uma", "Victor", "Wendy", "Xavier", "Yara", "Zara", "Alex", "Bruce"
    ],
    "Region": [
        "East", "West", "South", "East", "North", "West", "South", "East", "East", "North",
        "West", "South", "North", "East", "West", "South", "East", "North", "South", "West",
        "East", "North", "West", "South", "East", "North", "West", "South", "East", "North"
    ],
    "Product": [
        "Laptop", "Tablet", "Headphones", "Monitor", "Keyboard", "Laptop", "Mouse", "Tablet", "Headphones", "Monitor",
        "Mouse", "Laptop", "Keyboard", "Tablet", "Laptop", "Headphones", "Monitor", "Mouse", "Keyboard", "Laptop",
        "Tablet", "Headphones", "Mouse", "Monitor", "Keyboard", "Tablet", "Laptop", "Headphones", "Monitor", "Laptop"
    ],
    "Category": [
        "Electronics", "Electronics", "Accessories", "Electronics", "Accessories", "Electronics", "Accessories", "Electronics", "Accessories", "Electronics",
        "Accessories", "Electronics", "Accessories", "Electronics", "Electronics", "Accessories", "Electronics", "Accessories", "Accessories", "Electronics",
        "Electronics", "Accessories", "Accessories", "Electronics", "Accessories", "Electronics", "Electronics", "Accessories", "Electronics", "Electronics"
    ],
    "Quantity": [
        1, 2, 3, 1, 5, 1, 4, 2, 2, 1,
        6, 1, 2, 1, 2, 3, 2, 5, 3, 1,
        2, 2, 3, 1, 4, 1, 1, 4, 2, 1
    ],
    "Unit Price": [
        70000, 25000, 3000, 15000, 1500, 70000, 800, 26000, 3000, 14000,
        800, 69000, 1500, 25500, 71000, 3000, 14500, 850, 1500, 70500,
        26500, 2900, 850, 14800, 1600, 25000, 71000, 3100, 15200, 69500
    ],
    "Order Date": pd.date_range(start="2025-01-01", periods=30, freq='D'),
    "Payment Mode": [
        "Credit Card", "Debit Card", "UPI", "Net Banking", "Credit Card", "Debit Card", "UPI", "Credit Card", "UPI", "Net Banking",
        "UPI", "Credit Card", "Debit Card", "Net Banking", "Credit Card", "Debit Card", "Credit Card", "UPI", "Net Banking", "Debit Card",
        "Credit Card", "Debit Card", "Credit Card", "UPI", "Net Banking", "Debit Card", "UPI", "Credit Card", "Debit Card", "Credit Card"
    ]
}


#Convert the dictionary/data into dataframe and print first 10 rows and last 10 rows

In [ ]:
#Q1. Add a new column total_sales product of quantity and price

In [ ]:
#Q2. Show total quantity sold per region

In [ ]:
#Q3. Find the most sold product (by quantity)

In [ ]:
#Q4. Filter all orders made using "UPI" as payment

In [ ]:
#Q5. Export the modified DataFrame to a new CSV